@import "../../assets/scss/variables.scss";

@keyframes mount-heading {
  from {
    transform: translateY(-16px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.header {
  padding: 64px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    text-align: center;
    font: 48px/64px Yananeska;
    margin: 0;
    color: #fff;
    position: relative;
    z-index: 1;
    pointer-events: none;
    user-select: none;
    animation-name: mount-heading;
    animation-duration: 0.5s;

    &::before {
      content: "Connection Beats";
      position: absolute;
      left: 2px;
      top: 2px;
      width: 100%;
      color: #fff;
      z-index: -1;
      opacity: $sub-opacity;
    }
  }

  &__socials {
    margin-top: 8px;
    
    a {
      margin-right: 16px;
      color: #fff;
      text-decoration: none;
      opacity: $sub-opacity;

      &:hover {
        text-decoration: underline;
        opacity: 1;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .header {
    &__heading {
      font-size: 32px;
    }
  }
}